<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="stylesheet" href="./styles/module.css">
</head>

<body>
    <h1>Your Collection Has <%= collection.length %> Books</h1>
    <a href="/new_search"><button>New Search</button></a>
    <ul>
        <% collection.forEach(book=> { %>
            <li>
                <h1>
                    <%= book.title %>
                </h1>
                <p>
                    <%= book.description %>
                </p>
                <img src="<%= book.image_url %>">
                <!-- TO DO ADD BUTTON TO DETAILS PAGE OR DELETE BOOK FROM COLLECTION-->
            </li>
        </ul>
            <h2 class="view-title">Remove Book</h2>
            <form action="/books/<%= book.id %>?_method=DELETE" method="post">
                <button type="submit">Remove Book</button>
            </form>
            
            <% }) %>



</body>

</html>